body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column-reverse;
}


#container{
    display: flex;
    flex-wrap: wrap;
    background-color: burlywood;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    flex-direction: column;
}   

.botones{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    margin: 5px;
}
.grid-cell{
    border:1px solid black;
    box-sizing: border-box;
}

.grid-cell:hover{
    background-color: black;
}
