body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}


#container{
    display: flex;
    flex-wrap: wrap;
    background-color: burlywood;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}   

.grid-cell{
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-cell:hover{
    background-color: black;
}